<header class="main-header">
    <a href="/mathias" class="logo">
        <span class="logo-lg"><b>Mathias</b></span>
    </a>
    <nav class="navbar navbar-static-top">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="pessoa">Pessoa</a></li>
                        <li><a href="tipo-demanda">Tipo de Demanda</a></li>
                        <li><a href="demanda">Demanda</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="src/app/layout/img/perfil.jpg" class="user-image" alt="User Image">
                        <span class="hidden-xs">Mathias Bertram</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="user-header">
                            <img src="src/app/layout/img/perfil.jpg" class="img-circle" alt="User Image">

                            <p>
                                Mathias Bertram - Empresário/Vereador
                                <small>Membro desde Jan. 2017</small>
                            </p>
                        </li>
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="#" class="btn btn-default btn-flat">Configurações</a>
                            </div>
                            <div class="pull-right">
                                <a href="#" class="btn btn-default btn-flat">Sair do Sistema</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</header>